a {
    font-size: 25px;
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
    display: block;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

p {
    line-height: 2;
    letter-spacing: 1px;
    text-align: center;
    font-size: 25px;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

h2, ul {
    text-align: center;
}

#backgroundimg {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}


.myDiv {
    position: relative;
    background: green;
}

.hdimg {
    display: inline;
}

.hdimg img {
    max-width: 1.5%;
    max-height: 1.5%;
    margin: 5px;
}

.category-info {
    text-align: center;
    margin-bottom: 20px;
}

.image{
    position:relative;
    text-align: center;
}

.pages {
    font-size: 50px;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
}

.image h3 {
    font-size: 25px;
    display: inline;
    margin: 30px;
    color: white;
}

.headers {
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    position: absolute;
    width: 100%;
    margin-top: 10px;
    text-shadow: 1px 2px 1px black;
}

.image h1{
    position:absolute;
    width:100%;
    color:white;
    font-family: 'Oswald', Arial, Helvetica, sans-serif;
    line-height:200px;
    margin-top: 300px;
    font-size: 180px;
    text-shadow: 3px 3px 1px black;
}

body {
    margin: 0;
}

.back2 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
}







